
.formDiv{
    width: 100%;
    // display: flex;
}
.formDiv1, .formDiv2{
    width: 50%;
    text-align: center;
}
.formClass{
    width: 100%;
    display: flex;
}
.mat-form-field{
    width: 400px;
}

.checkboxDiv{
    text-align: left;
    padding-left: 17%;
}